body {
	background-color: #313131;
	color: #fff;
}


a:hover {
	text-decoration: none;
	
}

.navbar-main {
	background-color: #5d605d;
}

.navbar-header * {
	color: #e0e0e0;
}

.sidebar {
	background-color: #414141;
}

.sidebar-icon {
	float: left;
}

.sidebar-link {
	text-align: center;
	color: #fff;
	margin: 0;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
.sidebar-link:hover {
	background-color: #5d605d;
}

.panel2 {
	border-style: none;
	background-color: #414141;
}

.panel-heading2 {
	background-color: #605d5d;
	padding: 1em;
	border-radius: 0.5em;
}

.panel-body {
	margin-top: 1em;
	background-color: #414141;
}

.content {
	margin: 0;
	padding: 0;
	background-color: #414141;
}

.sys-btns button {
	margin: 0 0.4em;
	margin-top: 5em;
	
}

#console-area {
	display: none;
}

#config-area {
    display: none;
}

#server-online-status {
    color: red;
}

.selection-text {
    color: #000;
    padding-bottom: 4em;
}

.if-offline-btn{
	display: inline;
}

.if-online-btn {
	display: none;
}

#server-nav-heading * {
	display: inline;
}

#server-nav-heading {
	display: none;
}